# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://api:admin@localhost:5432/postgres?schema=public"

RAPID_API_KEY=""

STREAMING_AVAILABILITY_API_HOST="https://streaming-availability.p.rapidapi.com"
IMDB_API_HOST="https://imdb188.p.rapidapi.com"

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_REDIRECT_URI=
